*{background-color: tomato;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 200% ;
border: 15px lawngreen;
}


nav{
    
        margin-right: 0;
        background-color: black;
        right: 0;
        left:0;
        top: 0;
        position: fixed;
        padding: 10px;}
        



   

ul{ list-style: none;
    display:inline;
    display: flex; 
    padding-top: 10px;
    padding:10px;}

    nav>ul{text-align: left;}
    nav>ul>li>a{padding: 10px;
    margin-right: 0px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    float: left;}
    




nav>ul>li>a:hover{box-shadow: 0px 0px 10px rgb(255,0,255);
background: rgb(0,255,0);
color:rgb(128,0,35);}

p{color: black;
    display: block;
    text-align:justify;}
    h4{font-size:large;}
    ol,li{font-size: large;
        font-family: 'Alegreya Sans', sans-serif;
    font-size: 30px;}
    
    h2{color:black;}
    h3{color:black;
    font-size: 100%}
    .description{color:black}
    h1{color:black;}
    div>ol>li{color: black;
        font-size: 100%;}

        #foods{display: flex;
        flex-direction: column;
         border: black 1px;}

         div>h2>{flex-wrap: wrap}
         #first{margin-top: 7%;
            margin-left: 20%;
            margin-right: 20%;}


#second{margin-top: 7%;
    margin-left: 20%;
    margin-right: 20%;}

#third{margin-top:7%;
margin-left: 20%;
margin-right:20%;
font-family: 'Alegreya Sans', sans-serif;
font-size:30px;}
         
        
        


            
            
        

            
