
*{background-color: tomato;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 200% ;
border: 15px lawngreen;
}

nav{
    margin-right: 0;
    background-color: black;
    right: 0;
    left:0;
    top: 0;
    position: fixed;
    padding: 15px;}
    
    
    ul{list-style-type:none;
    padding: 0;
    margin: 0;
    position: fixe;
    top:0;
    width: 100%;
    text-align: right;
    }

    ul{
        display:inline;
        display: flex; 
        padding-top: 10px;
        padding:18px;}
        
    



nav>ul{text-align: center;}
nav>ul>li>a{padding: 10px;
margin-right: 0px;
text-transform: uppercase;
text-decoration: none;
display: inline;
float: left;}

nav>ul>li>a:hover{box-shadow: 0px 0px 10px rgb(255,0,255);
background: rgb(0,255,0);
color:rgb(128,0,35);}



p{color:black;
    font-family: fantasy;
    font-size: large;
    display: block;
    text-align:justify;}
    
        h2{color:black;}
        h3{color:black;
        font-size: 100%}

        h1{color:black;
            text-align: left;}
            div>ol>li{color:black;
            font-size: 100%;}
            
        .description{color:black}
        h1{color:black;}
        div>ol>li{color: black;
            font-size: 100%;}
           
            #Rites{ 
                margin-top: 10%;
                margin-right: 70%;
                margin-left: 20px;}

                #main{margin-top: 7%;
                margin-right: 20%;
            margin-left: 20%;}

            #other{margin-top: 7%;
            margin-right: 20%;
        margin-left: 20%;}


